{% extends "layout.html.j2" %}
{% block page %}Top{% endblock %}
{% block content %}
<section class="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">{{ group.name }}</h1>
			<h2 class="subtitle">{{ group.description }}</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<table class="table">
			<thead>
				<th>Ranking</th>
				<th>Name</th>
				<th>Score</th>
			</thead>
			<tbody>
			{% for membership in group.memberships %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ membership.user.full_name }}</td>
					<td>{{ membership.user.score }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
